<%- include('partials/header.ejs') %>
<br />
<br />
<br />
    <header><h1><a href="/"> Basic Banking System </a></h1></header>
    <br />
    <br />
    <div><h2> Customers </h2></div>
    <br>
    <main class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <table>
            <tr> 
                <th>
                    <span class="title"><a href="/customers">TRANSFER AGAIN
                    </a></span>
                </th>
            </tr>
            <tr>
                <td></td>
            </tr>
            
            
        <%
        if(userData.length!=0){
        userData.forEach(function(data) {
        %>
            
        <%   }) %>
        <% } else{ %>
        No Data Found
        <% } %>
        </table>
    </main>
</body>
</html>