<%- include('partials/header.ejs') %>
<br />
<br />
<br />
    <header><h1><a href="/"> Basic Banking System </a></h1></header>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <main class="container">
        
            
        <div class="leftside">
            <figure><img src="/img/dollar.jpg" alt="Dollar Sign" width="500"></figure>
        </div>
        <div class="rightside">
                <span class="title"><a href="/customers"> Customers </a></span>
        </div>
            <!--<br />-->
            <!--<br />-->
            <!--<br />-->
        <div class="name">Ramon Lucindo</div>
        <br>
        <br>
        
    </main>
        
        
            
</body>
</html>