<%- include('partials/header.ejs') %>
<br />
<br />
<br />
        <header><h1> Basic Banking System </h1></header>
        <br />
        <br />
    
    <main class="container">
        <div class="leftside">
            <figure><img src="/img/dollar.jpeg" alt="Dollar Sign" width="500">
            </figure>
        </div>
        <div class="rightside">
            <nav>
                <a href="/"> Customers </a>
            </nav>
        </div>
    </main>
        <br><br>
        <!--<div id="footer" href="/contact"><a id="email" href="mailto:">Contact Us</a></div>-->
        
            
</body>
</html>